absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
filelock
Flask
flatbuffers
fsspec
gunicorn
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
huggingface-hub
idna
importlib-metadata
itsdangerous
Jinja2
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opt-einsum
packaging
Pillow
protobuf>=3.20.3
pyasn1
pyasn1-modules
pythainlp
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
safetensors
sentencepiece
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tflearn
tokenizers
tqdm
transformers
typing_extensions
urllib3
Werkzeug
wrapt
zipp